*{
    margin:0;
    padding:0;
}
.header{
    padding:3px;
}
.header__heading{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'BIZ UDPMincho', serif;
font-size: .7rem;
}
img{
object-fit: contain;

}